/Modules/Saas/
/node_modules
/public/hot
/public/storage/pages/*
/public/storage/user_storage/*
/public/storage/resume_cvs_apply/*
/public/storage/blogs/categories/*
/public/storage/blogs/thumbnails/*
/public/storage/blogs/contents/*

/resources/lang/vi/
/resources/lang/vi.json
/storage/*.key
/storage/installed
/storage/upgrade/*
/storage/logs/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/.DS_Store
__MACOSX/

/builder-source/node_modules
/builder-source/dist/grapesjs-preset-webpage.min.css
/builder-source/dist/grapesjs-preset-webpage.min.js
.history/